h1 {
  color: #000;
  font-size: 3.55em;
  text-shadow: #fff831 2px 0 0, #fff831 0 2px 0, #fff831 -2px 0 0, #fff831 0 -2px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.15em;
  line-height: 1.325;
  margin-bottom: 30px;
}

.home {
  padding: 70px 0;
}

.home h2 {
  font-weight: 400;
  letter-spacing: 0.08em;
  margin-bottom: 75px;
}

.circle-mini {
  display: block;
  margin: 0 auto;
  color: $main-color;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba($main-color,  0.5);
  position: relative;

  &::before {
    font-size: 12px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $main-color;
    position: absolute;
    top: 14px;
    left: 12px;
  }

  &::after {
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid rgba($main-color,  0.5);
    position: absolute;
    top: -17px;
    left: -17px;
  }

  &:hover {
    color: $second-color;
    border: 1px solid rgba($second-color,  0.5);

    &::before {
      border: 2px solid $second-color;
    }

    &::after {
      border: 1px solid rgba($second-color,  0.5);
    }
  }
}

.info {
  background: $second-color;
  padding: 30px 0;

  p{
    font-size: 1.167em;
    font-weight: 700;
    letter-spacing: 0.14em;
    text-align: center;
  }
}

@include respond-to(medium-screens) {
  h1 {
    font-size: 4em;
  }

  .home {
    padding: 80px 0;
  }

  .home h2 {
    margin-bottom: 95px;
  }
}

@include respond-to(large-screens) {

}

@include respond-to(wide-screens) {
  h1 {
    font-size: 5.55em;
  }

  .home {
    padding: 100px 0;
  }

  .home h2 {
    margin-bottom: 115px;
  }
}

